src/test/resources/validation/schema-validator-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="validateSchema">
        <xml-module:validate-schema schemas="#[vars.schemas]" />
    </flow>

    <flow name="validateSchemaWithReferences">
        <xml-module:validate-schema schemas="#[vars.schemas]" expandEntities="ALL"/>
    </flow>

    <flow name="extractErrorsFromException">
        <try>
            <xml-module:validate-schema schemas="#[vars.schemas]" />
            <error-handler>
                <on-error-continue type="XML-MODULE:SCHEMA_NOT_HONOURED">
                    <set-variable variableName="aggregator" value="#[[]]" />
                    <foreach collection="#[error.errorMessage.payload]">
                        <set-variable variableName="aggregator" value="#[vars.aggregator + payload]" />
                        <logger level="ERROR" message="#['At line: $(payload.lineNumber), column: $(payload.columnNumber) -> $(payload.description)']" />
                    </foreach>
                    <set-payload value="#[vars.aggregator]" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

</mule>