src/test/resources/xsl/xslt-result-document-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="listCities">
        <xml-module:xslt-transform>
            <xml-module:xslt><![CDATA[
                <xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="2.0">

                    <xsl:output method="text" />

                    <xsl:param name="output_location" />

                    <xsl:template match="/">
                        <xsl:result-document href="{$output_location}" >
                            <xsl:for-each select="cities/city"><xsl:value-of select="@country"/> - <xsl:value-of select="@name"/> - <xsl:value-of select="@pop"/> | </xsl:for-each>
                        </xsl:result-document>
                    </xsl:template>
                </xsl:stylesheet>
            ]]></xml-module:xslt>
            <xml-module:context-properties>#[{'output_location': vars.outputFile}]</xml-module:context-properties>
        </xml-module:xslt-transform>
    </flow>

</mule>
