src/test/resources/xsl/xslt-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


    <flow name="groupCities">
        <xml-module:xslt-transform>
            <xml-module:xslt><![CDATA[
            <xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="2.0">

                <xsl:template match="/">
                    <table>
                    <tr>
                        <th>Country</th>
                        <th>City List</th>
                        <th>Population</th>
                    </tr>
                    <xsl:for-each-group select="cities/city" group-by="@country">
                        <tr>
                            <td>
                                <xsl:value-of select="@country"/>
                            </td>
                            <td>
                                <xsl:value-of select="current-group()/@name" separator=", "/>
                            </td>
                            <td>
                                <xsl:value-of select="sum(current-group()/@pop)"/>
                            </td>
                        </tr>
                    </xsl:for-each-group>
                    </table>
                </xsl:template>
            </xsl:stylesheet>
        ]]></xml-module:xslt>
        </xml-module:xslt-transform>
    </flow>

    <flow name="booksAsCsv">
        <xml-module:xslt-transform>
            <xml-module:xslt>#[vars.xsl]</xml-module:xslt>
        </xml-module:xslt-transform>
    </flow>

    <flow name="nullParam">
        <xml-module:xslt-transform>
            <xml-module:xslt><![CDATA[
            <xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="3.0">
                <xsl:output method="xml"/>

                <xsl:param name="vtn" />
                <xsl:template match="/parameter">
                    <param><xsl:value-of select="$vtn"/></param>
                </xsl:template>
            </xsl:stylesheet>
        ]]></xml-module:xslt>
            <xml-module:context-properties>#[{'vtn' : null}]</xml-module:context-properties>
        </xml-module:xslt-transform>
    </flow>
</mule>
